<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"

	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xmlns:aop="http://www.springframework.org/schema/aop"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd

		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	

	<bean id = "adr1" class="com.test.Address">

		

		<property name="city" value="Pune"></property>

		<property name="state" value="MH"></property>

	<!-- 	<property name="company" value="BCC"></property>

		<property name="salary" value="2345"></property> -->

	

	</bean>
	
		<bean id = "adr2" class="com.test.Address">

		

		<property name="city" value="Bangalore"></property>

		<property name="state" value="KA"></property>

	

	</bean>

        <bean id = "emp" class = "com.test.Employee" scope="singleton" autowire="default">
        <property name="id" value="111"></property>
        <property name="name" value="Rahul"></property>
        <property name="company" value="ICC"></property>
        <property name="adr">
        <list>
        <ref bean="adr1"/>
        <ref bean="adr2"/>
        </list>
        </property>	

		

	</bean>

</beans>


